<h1>Contact Info</h1>

<body>
    <ul>
        <li>Website: https://lea.verou.me/</li>
        <li>Email: lea@verou.me</li>
        <li>Twitter: @LeaVerou</li>
        <li>GitHub: LeaVerou</li>
    </ul>

    <p><%= link_to "Back to Home", home_path %></p>
</body>