<body>
    <h1>Lea Verou</h1>

    <p>Hello, this page serves to be a portfolio for Lea Verou. She is a web developer who specializes in designing web technologies, with the goal of making web programming easier.</p>

    <h3>Links</h3>
    <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Works", work_path %></li>
        <li><%= link_to "Contact Info", contact_path %></li>
    </ul>
</body>
