<h1>Works</h1>

<body>
    <ul>
        <li>Mavo: This is a programming language Verou developed that extends the syntax of HTML for the purpose of making it easier to develop web applications.</li>
        <li>PrismJS: This is a syntax highlighter she made that is used for highlighting in HTML.</li>
    </ul>

    <p><%= link_to "Back to Home", home_path %></p>
</body>